body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

input {
    border: 0;
    margin: 0;
    height: 20px;
    width: 90px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: #000;
    opacity: 1;
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

input:focus {
    outline: none;
}

.ql-container {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

.ql-editor li[data-list="checked"] > .ql-ui:before,
.ql-editor li[data-list="unchecked"] > .ql-ui:before {
    font-family: Helvetica, Arial, sans-serif !important;
    transform: scale(1.5);
    position: relative;
    top: -1.5px;
    color: #000;
    margin-left: -1.75em;
}

.ql-editor * {
    width: fit-content;
    min-width: 10px;
}

.focused::after {
    background-color: white;
    mix-blend-mode: difference;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5px;
    content: "";
    z-index: 2;
}